.showRecipeWrapper
  .recipeTextWrapper
    margin: 30px 15px
    .ingredients
      float: left
      width: 100%
      margin: 10px 0
    .steps
      float: left
      width: 100%
      margin: 10px 0
      .step
        margin: 5px 0
