<ion-view view-title="Detalle receta">
  <ion-content class="contentWrapper showRecipeWrapper">
    <div class="header-image">
      <img src="http://www.mooffin.es{{recipe.image}}"
        ng-if="recipe.photo_file_name !== null">
    </div>
    <div class="recipeTextWrapper">
      <div class="titleWrapper">
        <span class="title">{{recipe.titulo}}</span>
      </div>
      <div class="ingredients">
        <ul>
          <li ng-repeat="ing in recipe.ingredientes">{{ing.texto}}</li>
        </ul>
      </div>

      <div class="steps">
        <ul>
          <li class="step" ng-repeat="paso in recipe.pasos">{{paso.desc}}</li>
        </ul>
      </div>
    </div>

    <div class="loading" style="text-align: center" ng-if="loading">
      <span class="text">Cargando ingredientes...</span>
      <i class="fa fa-2x fa-spinner fa-spin"></i>
    </div>
  </ion-content>
</ion-view>
