.loginWrapper
  background-image: url('images/login_bg.jpg')
  background-repeat: no-repeat
  background-size: 100% 100%
  .logoWrapper
    width: 80%
    margin: 20% 5% 30% 5%
    img
      max-width: 100%
  .registrate
    padding: 20px 10px
    color: white
    text-align: center
    font-size: 1.1em
  a.btn
    width: 90%
    float: left
    margin: 10px 5%
    height: 40px
    border-radius: 5px
    text-align: center
    padding: 6px
    font-weight: bold
    font-size: 1.2em
    color: white
    &.btnGoogle
      background-color: #E04A39
    &.btnFacebook
      background-color: #4A629E
    &.btnEnter
      border: 2px solid white

  .loadingLogin
    width: 100vw
    height: 100vh
    background-color: rgba(255, 255, 255, 0.9)
    text-align: center
    position: absolute
    top: 0
    left: 0
    .text, i
      @extend .v-align
      float: left
      width: 100%
    .text
      font-size: 27px
      font-weight: bold
    i
      font-size: 25px
      margin-top: 10px


    span, i
      color: $blueMooffin
