<ion-view title="Login" class="bubble-background">

  <ion-content has-header="true" padding="true" class="loginWrapper">

    <div class="logoWrapper">
      <img ng-src="images/logo_big_white.png"/>
    </div>
    <div class="registrate">Regístrate con solo un click para obtener todas las ventajas: guardar recetas favoritas...</div>
    <a class="btn btnGoogle" ng-click="googleLogin()">Google</a>

    <!-- <a class="btn btnFacebook" ng-click="facebookLogin()">Facebook</a> -->

    <a class="btn btnEnter" ng-click="logIn()">Entrar sin registro</a>

    <div class="loadingLogin" ng-if="loading">
      <span class="text">Cargando...</span>
      <i class="fa fa-2x fa-spinner fa-spin"></i>
    </div>

  </ion-content>

</ion-view>
