.ingSelectedWrapper
  float: left
  width: 100%
  .titleWrapper
    float: left
    width: 100%
    margin: 20px 0 10px 20px
    .title
      float: left
      width: 100%
      font-size: 1.2em
    .tip
      font-size: 0.9em
      color: #b1b1b1
  .ingList
    float: left
    width: 100%
    margin: 0 0 0 20px
    .ing
      margin: 10px 0
  .noIngSelected
    font-style: italic
    text-align: center
    float: left
    width: 100%
    margin: 20px 0
    color: #B1B1B1
