<ion-view view-title="Mooffin">
  <ion-content class="contentWrapper searcherWrapper">
    <label class="item item-input">
      <i class="fa fa-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar" ng-model="nameFilter.value" ng-minlength="2">
    </label>
    <!-- ingredient list -->
    <ul class="list ingList" ng-if="nameFilter.value != ''">
      <li class="item" ng-repeat="i in ingredients | filter: {nombre: nameFilter.value} | limitTo: 15 | orderBy: 'nombre'"
        ng-click="addIng(i)">
        <span>{{i.nombre}}</span>
      </li>
    </ul>

    <div class="loading" style="text-align: center" ng-if="loading">
      <span class="text">Cargando ingredientes...</span>
      <i class="fa fa-2x fa-spinner fa-spin"></i>
    </div>

    <!-- proposal list -->
    <div class="list proposalsList">
      <a class="item item-thumbnail-left" ng-click="goToRecipe(p)" ng-repeat="p in proposals">
        <img src="http://www.mooffin.es{{p.image}}" ng-if="recipe.photo_file_name !== null">
        <!-- <img src="http://www.mooffin.es/assets{{p.image}}" ng-if="recipe.photo_file_name == null"> -->
        <h2 class="title">{{p.title}}</h2>
        <p class="desc">{{p.desc}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
