.searcherWrapper
  .item-input
    margin: 5px 10px
    border: none
    border-bottom: 2px solid $blueMooffin
    padding-bottom: 0px

  .ingList
    .item
      border: none
      margin: 15px 31px
      padding: 0

  .proposalsList
    .item
      .title
        font-size: 18px !important
        margin-bottom: 10px
