.bar-header, .tabs
  background-color: $blueMooffin !important

.bar
  .title, .button
    color: white !important

  button
    &::before
      font-size: 20px !important
      line-height: 35px !important

.loading
  @extend .v-align
  color: $blueMooffin
  .text
    float: left
    width: 100%
  i
    float: left
    width: 100%
    font-size: 25px


.tabs
  a
    position: relative
    .tab-title
      font-size: 14px
      position: absolute
      top: 15px
      @extend .h-align
