@font-face
  font-family: 'brandon_grotesquelight'
  src: url('fonts/brandon_light-webfont.eot')
  src: url('fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/brandon_light-webfont.woff') format('woff'), url('fonts/brandon_light-webfont.ttf') format('truetype'), url('fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg')
  font-weight: normal
  font-style: normal

body, h1, h2, h3, h4
  font: 1em 'brandon_grotesquelight', '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif !important

.bar-header, .tabs
  background-color: $blueMooffin !important

.bar
  .title, .button
    color: white !important
  .navigateBack
    color: transparent !important
    &::before
      color: white !important
      font-size: 30px !important
      padding-left: 10px

  button
    &::before
      font-size: 20px !important
      line-height: 35px !important

.platform-android .bar .title
  text-align: center !important
  font-size: 1.7em !important

.platform-android .searcherTabs
  top: 44px

.loading
  @extend .v-align
  color: $blueMooffin
  .text
    float: left
    width: 100%
  i
    float: left
    width: 100%
    font-size: 25px
    margin-top: 10px


.tabs
  a
    position: relative
    .tab-title
      font: 1.9em 'brandon_grotesquelight', '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif !important
      position: absolute
      top: 15px
      @extend .h-align
.item
  border-color: #efefef
.item.activated
  border: white !important
  background-color: rgba(62, 186, 255, 0.2) !important
