
.contentWrapper
  top: 45px !important

.bar-header
  background-color: $blueMooffin !important

.bar
  .title, .button
    color: white !important

.loading
  @extend .v-align
  color: $blueMooffin
